$white: #fff;
// $primary:#ed1b2e;
$secondary: #00a4e4;
$text: #333333;
$textSecondary: #9f9fa3;
$blue:#00334e;
$primary: $blue;
$yellow: #ffd900;
$linked: #ce181e;
$red:#ed1b2e;
$highlight: #73e298;
$black: #333;

*{
	box-sizing:border-box;
}

@import "partials/wrapper_partials.scss";

@import "partials/form_partials.scss";


.auth{
	margin:10em 0;
	.wrapper{
		width:500px;
	}
	.fc-btn{
		width:100%;
		display: block !important;
		padding:1em 0;
		font-size:1.2em;
		font-weight:100;
	}
	.footer
	{
		.fc-lb,.fc-link{
			display: inline-block;
		}
	}
}
